@keyframes ShowWinCycle {
  0% {
    opacity: 0;
    height: 0;
  }

  5% {
    opacity: 1;
    height: 50px;
  }

  95% {
    opacity: 1;
    height: 50px;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

.win_text {
  position: fixed;
  display: none;
  opacity: 1;
  width: 300px;
  height: 50px;
  top: 92px;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: var(--sub-panel-color);
  border-radius: var(--border-radius);
  font-size: 20px;
  font-weight: 600;

  &.show {
    display: flex;
    animation: ShowWinCycle 5s linear 1;
    animation-fill-mode: forwards;
  }

  &.right {
    left: calc(50% + 97px);
  }

  &.left {
    right: calc(50% + 97px);
  }
}

.defuse_plant_container {
  position: fixed;
  display: flex;
  opacity: 1;
  width: 300px;
  height: 50px;
  top: 92px;
  align-items: center;
  color: white;
  justify-content: center;
  background-color: var(--sub-panel-color);
  border-radius: var(--border-radius);
  overflow: hidden;

  .defuse_plant_bar {
    height: 49px;
    background-color: var(--border-color);
    position: absolute;
    width: 0%;
  }

  .defuse_plant_caption {
    z-index: 1;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    align-items: flex-end;

    svg {
      margin-right: 13px;
    }
  }

  &.right {
    left: calc(50% + 97px);

    .defuse_plant_bar {
      left: 0;
    }
  }

  &.left {
    right: calc(50% + 97px);

    .defuse_plant_bar {
      right: 0;
    }
  }

  &.hide {
    opacity: 0;
  }
}
